DEBUG=True
ASSETS_DEBUG=True
ALLOWED_HOSTS=*

SECRET_KEY=my-secret

#docker
#POSTGRES_HOST=localhost

#local
POSTGRES_HOST=finance-manager_postgres_1
POSTGRES_PORT=5432
POSTGRES_NAME=finance_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
