{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="AwesomeMobile App, INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Головна</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/css/nice_page.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}" media="screen">


    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta property="og:title" content="Головна">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
</head>
<body>
<!--Header_section-->
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}

<script class="u-script" type="text/javascript" src="{% static '/js/jquery.js' %}" defer=""></script>
<script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>

</body>
</html>