{% extends "base/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Add debtor" %}{% endblock %}

{% block content %}
    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'base/blocks/sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Topbar -->
            {% include 'base/blocks/topbar.html' %}
            <!-- End of Topbar -->

            {% block main %}
            {% endblock main %}

        </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "base/snippets/modal_logout.html" %}

    </body>
{% endblock %}