{% load widget_tweaks %}
{% csrf_token %}
<div class="row mb-3 justify-content-center">
    <div class="col-sm-9 text-secondary">
        {% render_field form.prise class="form-control form-input-height" placeholder="Prise" %}
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col-sm-9 text-secondary">
        {% render_field form.category class="form-control form-input-height" %}
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col-sm-9 text-secondary">
        {% render_field form.description class="form-control form-input-height" placeholder="Description" %}
    </div>
</div>
{% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
{% endif %}