{% extends "account/account_base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"> {% if token_fail %}{% trans "Bad Token" %}{% else %}
                        {% trans "Change Password" %}{% endif %}</h1>
                </div>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                        Please
                        request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form class="user" method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.password1 class+="form-control form-control-user" placeholder="Password" %}
                            </div>
                            <div class="form-group">
                                {% render_field form.password2 class+="form-control form-control-user" placeholder="Repeat Password" %}
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                {% trans 'change password' %}
                            </button>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
