{% extends "base/main_content.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Debt list" %}{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/custom/card.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}

    <h1>{% trans "Debt list" %}</h1>

    {% for debt in debts %}

        <p>{{ debt.debtor_name }} {{ debt.description }} {{ debt.prise }}</p>
        <div class="container align-items-center">
            <a type="button" class="btn btn-default btn-sm ml-3"
               href="{% url 'core:debt-detail' debt.id %}">{% trans "Debt detail" %}</a>
        </div>
    {% endfor %}

    <a type="button" class="btn btn-success btn-sm ml-3"
       href="{% url 'core:debt-create' %}">{% trans "Create new debt" %}</a>
    {{ data }}

{% endblock %}
