{% extends "base/base_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Update transaction" %}{% endblock %}

{% block card %}
    <div class=" d-flex justify-content-center mt-3">
        <h1>{% trans "Update transaction" %}</h1>
    </div>
    <form method="POST" action="{% url 'core:transaction-update' transaction.id %}">
        {% include 'base/snippets/fields_transaction.html' %}
        <div class="row justify-content-center">
            <div class="col-sm-9 mb-3 text-secondary">
                <button class="btn btn-primary px-4" type="submit">{% trans "Update transaction" %}</button>
                <a class="btn btn-outline-danger px-4"
                   href="{% url 'core:transaction-list' %}">{% trans "Cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
