{% extends "base/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Update transaction" %}{% endblock %}

{% block content %}

    <h1>{% trans "Update transaction" %}</h1>


    <form method="POST" action="{% url 'core:transaction-update' transaction.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="primaryAction" type="submit">{% trans "Update transaction" %}</button>
    </form>

{% endblock %}
